<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>archilog - Import & export CSV</title>
    <style>
        #parent-div {
            border: solid black 2px;
            padding: 50px;
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
<header role="banner" style="margin-bottom: 20px">
    <h1>archilog</h1>
    <h2>Import & export CSV</h2>
    <a href="{{ url_for('web_ui.select_page') }}">
        <button>Select items</button>
    </a>
</header>
<main role="main">
    <div id="parent-div">
        <form action="{{ url_for('web_ui.csv_page') }}" enctype="multipart/form-data" method="post">
            <label for="csv-import">Import a CSV file</label>
            <input id="csv-import" name="csv-import" type="file" accept="text/csv" required>

            <button type="submit">Import</button>
        </form>

        <form action="{{ url_for('web_ui.csv_page') }}" method="post">
            <input id="export-submit" name="export-submit" type="checkbox" checked hidden>

            <button type="submit">Export</button>
        </form>
    </div>
</main>
</body>
</html>
