<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>archilog - Update items</title>
</head>
<body>
<header role="banner" style="margin-bottom: 20px">
    <h1>archilog</h1>
    <h2>Update items</h2>
    <a href="{{ url_for('web_ui.select_page') }}">
        <button>Select items</button>
    </a>
</header>
<main role="main">
    <form method="post">
        {{ form.csrf_token }}

        {{ form.name.label }}       {{ form.name(size=20) }}
        {{ form.category.label }}   {{ form.category(size=20) }}
        {{ form.value.label }}      {{ form.value(size=20) }}

        <button type="submit">Update</button>
    </form>
</main>
</body>
</html>